.widget {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding: 10px;
    flex: 1;
    -webkit-box-shadow: 2px 4px 10px  1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px  1px rgba(201, 201, 201, 0.47);
    height: 12vh;
    border-radius: 2vh;
    

    .left {
        font-size: 17px;
    }

    .right {
        font-weight: 700;
        font-size: 3vh;
    }
}

.widget:hover {
    box-shadow: none;
    border: 0.1vh solid rgb(235, 233, 233);
}