.sidebar {
    min-height: 100vh;
    //background-color: rgba(31,41,55);
    //color: #7d8da1;
    color: black;
    font-size: large;
    font-weight: 600;

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1.4rem;
        margin-bottom: 0.8rem;

        .bus-logo {
            height: 120px;
            width: 120px;
            margin: auto;
            border: 1px solid rgba(201, 201, 201, 0.47);
            border-radius: 50%;
        }

        .bus-logo:hover {
            box-shadow: 0 0 2px 1px #7380ec;
        }
    }

    .center {
        cursor: pointer;
        transition: all 600ms ease;
        position: relative;
        margin-left: 1rem;  
        font-weight: 500;
        display: flex;
        flex-direction: column;

        ul {
            list-style: none;

            li {
                display: flex;
                align-items: center;
                height: 6vh;
                //background-color: blueviolet;

                span {
                    display: flex;
                    margin-left: 2rem;
                    gap: 1rem;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    

                    .navItem {
                        color: red;
                    }
                }
            }

            li:hover{
                background-color: rgba(201, 201, 201, 0.47);
                color: #7380ec;
                margin-left: -1rem;
                transition: all 500ms ease;

                &:before{
                    content:"";
                    width: 10px;
                    height: 100%;
                    background: #7380ec;
                    margin-right: 5px;
                }
            }
        }
    }
} 
